@inherits DisplayEmployeeListBase
@using RazorClassLibrary1

<div class="card-header">
    <input id="check" type="checkbox" @onchange="CheckBoxChanged" style="margin-right:10px;padding-bottom:10px"/>
    <label for="check"><h3>@Employee.FirstName  @Employee.LastName</h3> </label>
</div>

<img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />

@if(@ShowOptions){
    <div class="card-footer text-center">
        <a href="/EmployeeDetails/@Employee.EmployeeId" class="btn btn-primary m-1">View</a>

        <a href="/EditEmployee/@Employee.EmployeeId" class="btn btn-primary">Edit</a>

        <button @onclick="DeleteClick" class="btn btn-danger m-1">Delete</button>
    </div>
}
else{
    <br/>
    <br/>
    <br/>
}

<ShowConfirmation @ref="ShowConfirmationModal"
                  ButtonClickedEvent="OnButtonClikedEvent"
                  ModalBody="@($"Do you want to delete {Employee.FirstName}")"></ShowConfirmation>

