@page "/"
@inherits EmployeeListBase

@attribute [Authorize]

@if(EmployeeList == null)
{
    <div class="spinner"></div>
}

else
{
    <div style="text-align :center">
        <h3 style="font-family = @headerFontFamily">Our Employees</h3>
    </div>
    

    <div style="float:right;">
        <input type="checkbox" id="ShowOptions" @bind="ShowOptions"></input>
        <lablel for="ShowOptions"> Enable Options</lablel>
        <p>Employees Selected : @SelectedProfiles</p>
    </div>
    
    <br/>
    <br/>

    <div class="card-deck">

        @foreach (var Employee in EmployeeList)
        {
            <DisplayEmployeeList 
                Employee="Employee" 
                ShowOptions="@ShowOptions"
                EventCallback="IncrementCount"
                DeleteEventCallback="RefreshEmployees">
            </DisplayEmployeeList>
        }
    </div>
}



